body {
    background: url('../img/bg.jpg') repeat;
}

.alert-custom {
    border-color: #004F63;
    background-color: #011F26;
    text-shadow: none;
}

.myBuff, .enemyBuff, .neutralCamp {
    margin-bottom: 10px;
    padding: 0 4px;
    color: white;
}

.myBuff {
    border-color: #468847;
}

.enemyBuff {
    border-color: #B94A48;
}

.neutralCamp {
    border-color: #CFCFC2;
}

.blueBuff {
    background-color: #00ABFF;
    color: #3A87AD;
}

.redBuff {
    background-color: #FF0000;
    color: #B94A48;
}

.neutralBuff {
    background-color: #CFCFC2;
    color: #CCC;
}

.monster {
    padding: 4px 4px 4px 8px;
    margin: 4px 0;
    background-image: url('../img/black_scales.png');
    border: none;
    text-shadow: none;
    cursor: pointer;
}

span {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    color: #C09853;
}
