.myBuff, .enemyBuff, .neutralCamp {
    margin-bottom: 10px;
    padding: 0 4px;
    color: white;
}

.monster {
    padding: 4px 4px 4px 8px;
    margin: 4px 0;
}

.neutralCamp {
    background-color: #cfcfc2;
}

.neutralBuff {
    background-color: #cfcfc2;
}

span {
    font-size: 36px;
}
